body {
    margin: 0;
    font-family: sans-serif;
}

h2{
    margin: 0;
    padding: 20px 0 20px 0;
}

p{
    margin: 0;
    padding: 0 0 16px 0;
    text-align: justify;
}


/*
    HEADER
*/
#header{
    background-color: burlywood;
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 60%;
}

#header-partie-image{
    background-color: green;
    border: solid 1px black;
}

#header-partie-texte{
    background-color: yellowgreen;
    border: solid 1px red;
}

#header h1{
    margin: 0;
    padding: 22px 0 22px 0;
}


/*
    SECTION HISTOIRE
*/
#histoire{
    background-color: aquamarine;
    /* height: 100vh; */
}

#histoire img{
    width: 20%;
    align-self: center;
}

.partie-texte{
    width: 50vw;
}

.epoque{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#histoire-intro{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#histoire-a-nos-jours-partie-image{
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#histoire-a-nos-jours-partie-image img{
    width: 100%;
}

/*
    SECTION ECOLOGIE
*/
#ecologie{
    background-color: bisque;
    height: 100vh;
}
